.article-detail > table > thead > tr > th {
    /* padding-top: 14px; */
    padding-left: 14px;
    padding-right: 14px;
    border-width: 0 0 2px 0;
    border: 1px solid #e8e8e8;
}
.article-detail > table > tbody > tr > td {
    padding-left: 14px;
    padding-right: 14px;
    border-width: 0 0 2px 0;
    border: 1px solid #e8e8e8;
}